In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("fifa21_train.csv")
df

,ID,Name,Age,Nationality,Club,BP,Position,Team & Contract,Height,Weight,...,CDM,RDM,RWB,LB,LCB,CB,RCB,RB,GK,OVA
0,184383,A. Pasche,26,Switzerland,FC Lausanne-Sport,CM,CM CDM,FC Lausanne-Sport 2015 ~ 2020,"5'9""",161lbs,...,59+1,59+1,59+1,58+1,54+1,54+1,54+1,58+1,15+1,64
1,188044,Alan Carvalho,30,China PR,Beijing Sinobo Guoan FC,ST,ST LW LM,"Beijing Sinobo Guoan FC Dec 31, 2020 On Loan","6'0""",159lbs,...,53+2,53+2,57+2,53+2,48+2,48+2,48+2,53+2,18+2,77
2,184431,S. Giovinco,33,Italy,Al Hilal,CAM,CAM CF,Al Hilal 2019 ~ 2022,"5'4""",134lbs,...,56+2,56+2,59+2,53+2,41+2,41+2,41+2,53+2,12+2,80
3,233796,J. Evans,22,Wales,Swansea City,CDM,CDM CM,Swansea City 2016 ~ 2021,"5'10""",152lbs,...,58+2,58+2,56+2,57+2,58+2,58+2,58+2,57+2,14+2,59
4,234799,Y. Demoncy,23,France,US Orléans Loiret Football,CDM,CDM CM,US Orléans Loiret Football 2018 ~ 2021,"5'11""",150lbs,...,64+2,64+2,64+2,63+2,61+2,61+2,61+2,63+2,15+2,65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11696,232504,B. Böðvarsson,25,Iceland,Jagiellonia Białystok,LB,LB,Jagiellonia Białystok 2018 ~ 2021,"6'1""",168lbs,...,60+2,60+2,63+2,63+2,61+2,61+2,61+2,63+2,16+2,65
11697,214680,G. Gallon,27,France,ESTAC Troyes,GK,GK,ESTAC Troyes 2019 ~ 2022,"6'1""",174lbs,...,26+2,26+2,25+2,24+2,26+2,26+2,26+2,24+2,69+2,70
11698,221489,J. Flores,22,Chile,CD Antofagasta,RM,LM CAM RM,CD Antofagasta 2019 ~ 2024,"5'6""",143lbs,...,44+2,44+2,49+2,45+2,35+2,35+2,35+2,45+2,17+2,67
11699,146717,Anderson Silva,26,Brazil,Barnsley,CM,NaN,Barnsley 2010,"6'2""",179lbs,...,68+0,68+0,66+0,64+0,60+0,60+0,60+0,64+0,25+0,68
11700,236507,T. Conechny,22,Argentina,Portland Timbers,CAM,ST CAM LM,Portland Timbers 2019 ~ 2020,"5'7""",143lbs,...,43+2,43+2,46+2,44+2,36+2,36+2,36+2,44+2,15+2,64

# Data description and goal
Our goal is to make a predictive model with OVA as a target.

In [3]:
# Cleaning data
# Do we want to change column names? we prefer to watch our dictionary provided by jan if we have doubts
# do we have duplicated? we do not have,the code is below

In [4]:
duplicates = df[df.duplicated()]
duplicates

Empty DataFrame
Columns: [ID, Name, Age, Nationality, Club, BP, Position, Team & Contract, Height, Weight, foot, Growth, Joined, Loan Date End, Value, Wage, Release Clause, Contract, Attacking, Crossing, Finishing, Heading Accuracy, Short Passing, Volleys, Skill, Dribbling, Curve, FK Accuracy, Long Passing, Ball Control, Movement, Acceleration, Sprint Speed, Agility, Reactions, Balance, Power, Shot Power, Jumping, Stamina, Strength, Long Shots, Mentality, Aggression, Interceptions, Positioning, Vision, Penalties, Composure, Defending, Marking, Standing Tackle, Sliding Tackle, Goalkeeping, GK Diving, GK Handling, GK Kicking, GK Positioning, GK Reflexes, Total Stats, Base Stats, W/F, SM, A/W, D/W, IR, PAC, SHO, PAS, DRI, DEF, PHY, Hits, LS, ST, RS, LW, LF, CF, RF, RW, LAM, CAM, RAM, LM, LCM, CM, RCM, RM, LWB, LDM, CDM, RDM, RWB, LB, LCB, CB, RCB, RB, GK, ...]
Index: []

[0 rows x 101 columns]

In [5]:
# Deal with NaN values.
# Do we want to change lbs to kg and inches to cms?


nan_counts = df.isna().sum()

nan_columns = nan_counts[nan_counts > 0]
nan_columns

Club                 18
Position            288
Joined               41
Loan Date End     11072
Volleys              41
Curve                41
Agility              41
Balance              41
Jumping              41
Interceptions         7
Positioning           7
Vision               41
Composure           279
Sliding Tackle       41
A/W                  59
D/W                  59
dtype: int64

In [6]:
# We drop Loan Date End columns because has lot of nan values and seems to be irrlevant
df = df.drop("Loan Date End",axis = 1)

In [7]:
#here we drop all the rows that have nan values on the "Volleys" column and the A/W and the D/W
df.dropna(subset = ["Volleys"],inplace = True)
df.dropna(subset = ["A/W"],inplace = True)

In [8]:
nan_aw_rows = df[df['Composure'].isna()]
nan_aw_rows

,ID,Name,Age,Nationality,Club,BP,Position,Team & Contract,Height,Weight,...,CDM,RDM,RWB,LB,LCB,CB,RCB,RB,GK,OVA
17,5203,M. Oddo B,35,Italy,Lecce,CM,NaN,Lecce 2009 ~ 2012,"6'0""",168lbs,...,71+0,71+0,72+-1,70+1,70+1,70+1,70+1,70+1,14+1,71
369,199090,Ricardo Bueno,27,Brazil,Seongnam FC,ST,ST,Seongnam FC 2015 ~ 2016,"6'1""",181lbs,...,46+0,46+0,48+0,47+0,44+0,44+0,44+0,47+0,18+0,65
396,136138,Diego,30,Brazil,Fenerbahçe SK,CAM,CAM LM,Fenerbahçe SK 2014 ~ 2017,"5'8""",161lbs,...,59+1,59+1,60+1,56+1,48+1,48+1,48+1,56+1,16+1,79
420,107715,Lúcio,35,Brazil,Palmeiras,CB,NaN,Palmeiras 2014 ~ 2015,"6'2""",190lbs,...,70+0,70+0,65+0,69+0,76+0,76+0,76+0,69+0,13+0,76
480,183897,A. Cabral,27,Argentina,Cruzeiro,CM,CM LM,Cruzeiro 2015 ~ 2018,"6'1""",168lbs,...,67+0,67+0,68+0,67+0,63+0,63+0,63+0,67+0,15+0,72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11486,210174,Imanol Elías,24,Spain,CD Mirandés,GK,GK,CD Mirandés 2014 ~ 2016,"6'0""",170lbs,...,25+0,25+0,27+0,26+0,25+0,25+0,25+0,26+0,59+0,59
11491,135708,C. Blanco,42,Mexico,Club América,CAM,CAM,Club América 2016 ~ 2016,"5'10""",176lbs,...,56+0,56+0,49+0,45+0,45+0,45+0,45+0,45+0,18+0,71
11509,250,D. Beckham,37,England,NaN,CM,CM RM,England Free,"6'0""",165lbs,...,73+1,73+1,67+1,63+1,59+1,59+1,59+1,63+1,15+1,78
11580,146692,Nenê,32,Brazil,West Ham United,LW,NaN,West Ham United 2015 ~ 2015,"5'11""",154lbs,...,59+0,59+0,55+0,50+0,46+0,46+0,46+0,50+0,13+0,76
11680,150525,P. Guerrero,30,Peru,Peru,ST,ST,Peru Free,"6'1""",181lbs,...,57+1,57+1,53+1,50+1,50+1,50+1,50+1,50+1,14+1,78

In [9]:
#we will replace the club nan values with "Unknown" because they might be not playing anymore or in some process of getting in one club

df["Club"].fillna("Unknow/Retired", inplace = True)

In [10]:
# replacing nan values in position with the value that is in the BP column because it makes sense that his position its his best position
df["Position"].fillna(df["BP"], inplace = True)

In [11]:
# using a lambda function to fill the nan values with the mean of the players of the same best position.

df["Composure"] = df.groupby("BP")["Composure"].transform(lambda x: x.fillna(x.mean()))

#  defining categorical and numerical columns

In [12]:
pd.reset_option("display.max_rows")
df.dtypes

ID              int64
Name           object
Age             int64
Nationality    object
Club           object
                ...
CB             object
RCB            object
RB             object
GK             object
OVA             int64
Length: 100, dtype: object

In [13]:
# We want to change all the columns of the positions to be numerical and to remove +,- and the number after that, so we will just keep the initial value.
position_columns = ['LS', 'ST', 'RS', 'LW', 'LF', 'CF', 'RF', 'RW', 'LAM', 'CAM', 'RAM', 'LM', 'LCM', 'CM', 'RCM', 
                     'RM', 'LWB', 'LDM', 'CDM', 'RDM', 'RWB', 'LB', 'LCB', 'CB', 'RCB', 'RB', 'GK']
for column in position_columns:
    df[column] = df[column].str.extract(r'(\d{2})').astype(float)

In [15]:
#making functions to convert the weight and height columns to more readable and computable values like cms and kilograms

def height_to_cm(height_str):
    #split the numbers to separate feet from inches
    feet, inches = height_str.split("'")
    
    # remove the doble queote and conver to integers
    feet = int(feet)
    inches = int(inches.replace("\"",""))
    
    #conversion
    total_inches = (feet * 12) +inches
    return total_inches * 2.54

df["Height"] = df["Height"].apply(height_to_cm)

In [16]:
#weight function
def weight_to_kg(lbs_str):
    #get rid of lbs and make it integer 
    weight = int(lbs_str.strip("lbs"))
    return round(weight * 0.453592, 2)

df["Weight"] = df["Weight"].apply(weight_to_kg)

In [26]:
# next on the list are Value,Wage and Release Clause they all have the same format so we should make a function to change them to numerical.
money_columns = ["Value","Wage", "Release Clause"]
def money_in_numbers(value_str):
    # remove the euro symbol €
    value_str = value_str.replace("€","")
    
    #convert K and M to numerical equivalents
    if "K" in value_str:
        return float(value_str.replace("K", "")) *1e3 # if is in the thousand ,replace K with empty space and multiply equivalent
    elif "M" in value_str:
        return float(value_str.replace("M","")) * 1e6 # if is milions ,replace M with empty space and multiply equivalent
    else:
        return float(value_str) #in case its already a number

TypeError: cannot convert the series to <class 'float'>